<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱洁舍</title>
    <link rel="stylesheet" href="/aijieshe/static/Styles/plugins/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/aijieshe/static/lib/layui-v2.3.0/css/layui.css" media="all">
    <link rel="stylesheet" href="/aijieshe/static/Styles/main.css" media="all">
    <link rel="stylesheet" href="/aijieshe/static/Styles/main.css" media="all">
</head>.
<body class="timo-layout-page">
<div class="layui-container  ">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header" >
            <h1>根据校区交流社区获得的大量词汇获得词云</h1>
        </div>
        <div class="layui-card-body">
            <img src="/aijieshe/static/images/word.jpg" style="width: 100%;height: 100%">
        </div>
    </div>

</div>
</body>
</html>