<!DOCTYPE html>
<html>
<head>
    <title>TIMO后台模板</title>
    <meta charset="utf-8">


    <!-- 引入css -->
    <link rel="stylesheet" href="/aijieshe/static/Styles/plugins/font-awesome-4.7.0/css/font-awesome.min.css"  media="all">
    <link rel="stylesheet" href="/aijieshe/static/lib/layui-v2.6.3/css/layui.css"  media="all">
    <link rel="stylesheet" href="/aijieshe/static/Styles/main.css"  media="all">
</head>
<body>
<div class="layui-form timo-compile">
    <form action="#">
		  <div class="layui-form-item">
			<label class="layui-form-label">id</label>
			<div class="layui-input-inline">
			  <input id="id" type="text"  placeholder="请输入id" class="layui-input">
			</div>
		  </div>
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-inline">
				<input id="master_name" type="text"  placeholder="请输入名称" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-inline">
				<input id="phone" type="text"  placeholder="请输入手机号码" class="layui-input">
			</div>
		</div>
		  <div class="layui-form-item">
			<label class="layui-form-label">密码框</label>
			  <div class="layui-input-inline">
				  <input id="password" type="text"  placeholder="请输入密码" class="layui-input">
			  </div>
		  </div>

		<div class="layui-form-item">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-inline">
				<input id="address"  type="text"  placeholder="请输入地址" class="layui-input">
			</div>
		</div>

		  <div class="layui-form-item">

		  </div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-inline">
				<select id="sex" name="interest" >
					<option value=""></option>
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
		</div>

    </form>
</div>
<script src="/aijieshe/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/aijieshe/static/js/main.js" charset="utf-8"></script>
</body>
</html>